
body {
  background: #7D7163;
  padding: 20px;
}

.grid {
 display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #D4D1CA;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
margin:0 0 8px;
font-size: 20px;
}

.card p {
margin:0;

}
.grid img{
    width:auto;
    height:400px;
}
